</br>
<div class="ui placeholder segment">
  <% @movie.each do |movie| %>
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <%= embed(movie.url) %>
      </div>
      <div class="middle aligned column">
        <h1>Movie Title</h1>
        <h2>Share by: <%= movie.users.pluck(:username).join(', ') %></h2>
        <p>Description:</p>
        <p>When I learned that previous Spider-Man villains would return,
          I decided to educate myself and watch their respective franchise appearance:
          the Sam Raimi-directed trilogy starring Tobey Maguire as Peter Parker,
          of which I watched Spider-Man (2002) and Spider-Man 2 (2004), and the so-called
          “amazing” duology starring Andrew Garfield as Peter, The Amazing Spider-Man (2012) and
          The Amazing Spider-Man 2 (2014). I found both of the Maguire movies very solidly scripted,
          helped by witty, iconic dialogue and charmingly-dated special effects. Above all else,
          they’re idiosyncratic and goofy in a way that makes them easy to love. </p>
      </div>
    </div>
  <% end %>
</div>


